@import url(../css/font.css);

header{
    padding: 20px;
    /* height: 120px; */
    background-color: #eae8e9;
}
header p:first-of-type{
    color:#cb3362 ;
    font-family: "RammettoOne-Regular";
    font-size: 30pt;
}
header p:first-of-type>span{
    color: #c8c10d;
}
header nav ul{
    padding: 20px;
    display: flex;
    justify-content: space-around;
   
}
header nav ul li{
    list-style-type: none;
    font-size: 15pt;
    color:#7a6666 ;
    font-family: "Lato regular";
    text-transform: uppercase;
}
header nav ul li a:hover{
    color:#cb3362;
    font-weight: bold;
    
}
.logo{
    position: absolute;
    top: 5px;
    left: 125px;
}